html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    /* background-color: blue; */
}
nav{
    /* padding-left: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    margin-top: 2rem;
    padding-top: 1rem;
    width: 19rem;
    height: 7rem;
}
nav ul{
    list-style: none;
    display: flex;
    
}
nav ul li{
    padding: 1rem;
    margin: 1rem;
    color: black;
    
}
nav ul a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 6px;
    background-color:aqua;
    border-radius: 7px;
}
nav ul a:hover{
    background-color: bisque;
}