html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: blue;
}
nav{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    padding: 10px;
}