<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/error.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Error!</title>
</head>
<body>
    <% if (success_msg) { %>
        <p class="success" id="successMessage" style="text-align: center;"><%= success_msg %></p>
      <% } else if (error_msg) { %>
        <p class="error" id="errorMessage" style="text-align: center;"><%= error_msg %></p>
      <% } %>
      

      
      
      <script>
        // Function to remove the success message after 3 seconds
        function removeSuccessMessage() {
          const successMessage = document.getElementById('successMessage');
          const errorMessage = document.getElementById('errorMessage');

          if (successMessage) {
            setTimeout(function () {
              successMessage.remove();
            }, 3000); // 3 seconds in milliseconds
          }
          if (errorMessage) {
            setTimeout(function () {
              errorMessage.remove();
            }, 3000); // 3 seconds in milliseconds
          }

        }
        // Call the function when the page loads
        window.addEventListener('load', removeSuccessMessage);
      </script>
      
    <h1>Oops!</h1>
    <h2>404 - PAGE NOT FOUND</h2>
    <p>The page you are looking for might have been removed <br> had its name changed or is temporarily unavailable</p>
    <a href="/">GO TO HOMEPAGE</a>
</body>
</html>