<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/error.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Error!</title>
</head>
<body>
    <h1>Oops!</h1>
    <h2>404 - PAGE NOT FOUND</h2>
    <p>The page you are looking for might have been removed <br> had its name changed or is temporarily unavailable</p>
    <a href="/">GO TO HOMEPAGE</a>
</body>
</html>