<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/shared.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>PGBCMC</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="index.html" id="logo">CLOSTYLE</a>
        <div id="login_signup">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Outfits</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section id="intro">
        <div>
          <h1>
            Clostyle is a digital closet <br />
            fashion space for your smart <br />fashion life.
          </h1>
          <p>
            Our community, more than ZERO M global users’ choice.<br />
            Ready to get started? Here’s how it works
          </p>
        </div>
      </section>
      <section id="smart">
        <div>
          <h1>Smart Fashion-</h1>
          <h2>the future of our fashion</h2>
          <p>
            Smart fashion is the lifestyle of buying, wearing, and selling our
            clothes in a smart way. Smart fashion starts with knowing what you
            have in your wardrobe. No more stressful mornings picking out
            outfits because you can plan your daily outfits in advance wherever
            you are. You can also sell the clothes you don't wear efficiently
            and effectively and get pre-loved items from others. Earning extra
            money by selling clothes that are sleeping in your wardrobe and
            buying lovely items at a reasonable price will make your fashion
            life smarter.
          </p>
          <p>
            Acloset is the right choice for your smart fashion. It’s simple to
            make your own digital closet and find your own effective styles.
            Also, by selling your unwanted clothes and buying pre-loved items,
            you can complete your smart fashion life, which benefits individuals
            and the environment.
          </p>
          <div id="learn">
            <a href="">Learn More &#8594</a>
          </div>
          
        </div>
      </section>
    </main>
  </body>
</html>