<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"C:\Users\DELL\Desktop\VirtualCloset-main\views\login.ejs
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/shared.css" />
    <link rel="stylesheet" type="text/css" href="css/loginStyles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" id="logo">CLOSTYLE</a>
        <div id="login_signup">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="outfits.html">Outfits</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <form>
        <h2>Login</h2>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <a href="#" class="forgot-password">Forgot Password?</a>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
