html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* New addition */
}

::-webkit-scrollbar {
  display: none;
}

.banner1,
.banner2,
.banner3,
.banner4,
.banner5,
.banner6,
.banner7 {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  text-align: center;
}
.banners img {
  height: 100px;
  width: 100px;
  position: relative;
  top: 307.5px;
}
.banner1 {
  animation: slide1 2s linear infinite;
}
.banner2 {
  animation: slide2 2s linear infinite;
}
.banner3 {
  animation: slide3 2s linear infinite;
}
.banner4 {
  animation: slide4 2s linear infinite;
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
header {
  width: 100%;
  /* background-color: blue; */
}
nav {
  /* padding-left: 10px; */
  display: flex;
  
  justify-content: space-between;
  width: 70%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap; /* New addition */
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%; /* New addition */
  justify-content: space-around; /* New addition */
}
nav ul li {
  padding: 10px 1.5rem;
  /* margin: 1rem; */
  color: black;
}
#logo {
  font-family: "Oleo Script";
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 0;
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}
nav ul a {
  color: rgb(149, 149, 149);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  text-shadow: 0.1px 0.1px 0.2px rgb(135, 135, 135);
}
nav ul a:hover {
  color: black;
}
nav ul img{
  height: 28px;
  width: 28px;
  border: 1px solid rgb(144, 144, 144);
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
}
nav ul img:hover{
  background-color: #c9c9c9;
}

#after-login{
  display: flex;
  align-items: center;
  padding: 5px;
  /* justify-content: center; */
  gap: 2.5px;
}
.dropbtn {
  font-size: 16px;
  border: none;
  background-color: white;
  color: rgb(155, 155, 155);
  padding: 0 0 0 0;
  margin: 0;
  cursor: pointer;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  /* width: 80px; */
  height: 30px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  border: 0.5px solid grey;
  font-size: 15px;
  color: rgb(131, 131, 131);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 12px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}



footer {
  height: 180px;
  background-color: white;
}
#ready {
  height: 220px;
  background-color: black;
  text-align: center;
}
#ready h1 {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding-top: 30px;
}
#ready a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: white;
  border: 1.5px solid rgb(182, 182, 182);
  padding: 5px 15px;
  border-radius: 10px;
  margin: 25px;
}
#foot {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#docs a {
  color: rgb(144, 143, 143);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}
#media-links ul {
  display: flex;
  list-style: none;
}

@media screen and (min-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav ul {
    width: auto;
    justify-content: flex-start;
  }

  nav ul li {
    padding: 10px 2rem; /* Increased padding */
  }
}

/* Responsive design for desktops */
@media screen and (min-width: 1024px) {
  nav ul li {
    padding: 10px 3rem; /* Increased padding */
  }
}

.success {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10px auto;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  animation: fadeout 3s ease-out forwards;
}
.error {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10px auto;
  color: #fff9f7;
  background-color: #e10b0b;
  border-color: #f02906;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  animation: fadeout 3s ease-out forwards;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}