#intro {
  height: 600px;
  /* height: 700px; */
  position: relative;
  top: -30px;
  background-image: url("images/pexels-tembela-bohle-1884584.jpg");
  background-position: center;
  background-size: 100% 600px;
  background-repeat: no-repeat;
  /* border-radius: 50% 50%; */
}
#intro h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 235px;
  padding-top: 100px;
}
#intro p {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 32px;
  margin-left: 235px;
}

#smart {
  width: 68%;
  margin: auto;
  /* text-align: center; */
}

#smart h1 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  margin-top: 50px;
}
#smart h2 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 50px;
}
#smart p {
  font-size: 21px;
  font-family: sans-serif;
  color: rgb(160, 159, 159);
  margin-bottom: 40px;
  font-weight: 100;
}



#smart a {
  font-size: 20px;
  text-decoration: none;
  font-family: sans-serif;
  background-color: black;
  color: rgb(244, 244, 244);
  border-radius: 80px;
  padding: 15px 70px;

}
#learn{
  margin-top: 40px;
  padding-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}
